FREEFORMATTER.COM
HTTPS
Contact

Formatters
JSON Formatter
HTML Formatter
XML Formatter
SQL Formatter
Batch Formatter (new!)
Validators
JSON Validator
HTML Validator
XML Validator - XSD
XPath Tester
Credit Card Number Generator & Validator
Regular Expression Tester
Java Regular Expression Tester
Cron Expression Generator - Quartz
Encoders & Decoders
Url Encoder & Decoder
Base 64 Encoder & Decoder
QR Code Generator
Code Minifiers / Beautifier
JavaScript Beautifier
CSS Beautifier
JavaScript Minifier
CSS Minifier
Converters
XSD Generator
XSLT (XSL Transformer)
XML to JSON Converter
JSON to XML Converter
CSV to XML Converter
CSV to JSON Converter
Epoch Timestamp To Date
Cryptography & Security
Message Digester (MD5, SHA-256, SHA-512)
HMAC Generator
MD5 Generator
SHA-256 Generator
SHA-512 Generator
String Escaper & Utilities
String Utilities
HTML Escape
XML Escape
Java and .Net Escape
JavaScript Escape
JSON Escape
CSV Escape
SQL	Escape
Web Resources
Lorem Ipsum Generator
LESS Compiler
List of MIME types
HTML Entities
Url Parser / Query String Splitter
i18n - Formatting standards & code snippets
ISO country list - HTML select snippet
USA state list - HTML select snippet
Canada province	list - HTML select snippet
Mexico state list - HTML select snippet
Time zone list - HTML select snippet
CSS Beautifier
Formats a CSS files with the chosen indentation level for optimal readability. Supports 4 indentation levels: 2 spaces, 3 spaces, 4 spaces and tabs.

*The maximum size limit for file upload is 2 megabytes. All files bigger than 500k will be formatted to a new window for performance reason and to prevent your browser from being unresponsive.

Option 1: Copy-paste your CSS string here

body {
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
}

.search {
	width: 100%;
	display: flex;
}

.search-box {
	flex-grow: 1;
	height: 50px;
	font-size: 1em;
	padding: 5px 20px;
  background-color: #FFCCE5;
}

.app {
	width: 100%;
	height: 100%;
	display: flex;
}

.list {
	order: 1;
	flex-grow: 1;
	background-color: #99004c;
}

.map {
	order: 2;
	flex-grow: 4;
	background-color: #99004c;
	text-align: center;
	height: 1000px;
}

.results {
	margin: 0;
	padding: 0;
}

.place {
    margin: 10px;
    padding: 10px;
    list-style: none;
    background-color: #99004c;
}

.place:hover {
    margin: 10px;
    padding: 10px;
    list-style: none;
    background-color: #cc0066;
}

@media only screen and (max-device-width : 800px), only screen and (max-width : 800px)  {

.app {
	flex-direction: column;
}


.search-box, .list {
	font-size: 1.5em;
}

}

Option 2: Or upload your CSS file

Indentation level:

BEAUTIFY CSS  BEAUTIFY CSS IN NEW WINDOW
Beautified CSS:
body {
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
}

.search {
	width: 100%;
	display: flex;
}

.search-box {
	flex-grow: 1;
	height: 50px;
	font-size: 1em;
	padding: 5px 20px;
	background-color: #FFCCE5;
}

.app {
	width: 100%;
	height: 100%;
	display: flex;
}

.list {
	order: 1;
	flex-grow: 1;
	background-color: #99004c;
}

.map {
	order: 2;
	flex-grow: 4;
	background-color: #99004c;
	text-align: center;
	height: 1000px;
}

.results {
	margin: 0;
	padding: 0;
}

.place {
	margin: 10px;
	padding: 10px;
	list-style: none;
	background-color: #99004c;
}

.place:hover {
	margin: 10px;
	padding: 10px;
	list-style: none;
	background-color: #cc0066;
}

@media only screen and (max-device-width: 800px),
only screen and (max-width: 800px) {
	.app {
		flex-direction: column;
	}
	.search-box,
	.list {
		font-size: 1.5em;
	}
}
